.header {
  font-family: 'Inter', sans-serif;
}

.nav-link {
  border-radius: 0.375rem;
  margin-left: 10px;
}

.nav-link.active {
  background-color: #111827;
  color: #fff !important;
}

@media screen and (max-width: 992px) {
  .nav-link {
    margin-left: 0px;
    padding-left: 15px;
  }
}