:root {
  --primary-color: #111827;
  --primary-light-color: rgba(17, 24, 39, 0.9);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-primary-light-color {
  background-color: var(--primary-light-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.border-color {
  border-color: var(--primary-color);
}