@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@400;700&family=Marmelad&family=Signika:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Bungee', cursive; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Marmelad', sans-serif; */
  font-family: 'Signika', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}